body, html{
    margin: 0;
    background: linear-gradient(45deg, rgb(10,10,10), rgb(10,10,30));
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: filter 0.5s linear;
    gap: 15px;

}

.header > h1{
    font-size: 5rem;
    font-family: "Dancing Script", cursive;
    font-weight: 100;
    color: white;
    text-align: center;
    
}


.header > p{
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    font-weight: 100;
    color: white;
    text-align: center;
    
}

.card{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    width: 500px;
    aspect-ratio: 1/1;
    padding: 20px;
    color: white;
    font-size: 3rem;
    text-align: center;
    z-index: 10000;
    font-family: "Dancing Script";
    background-color: black;
    border: 2px solid rgb(50,50,50);
    border-radius: 2cqb;
    filter: drop-shadow(0 0 10px rgb(20,30,80));
    display: none;
    scale: 0;
    opacity: 0;


}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, rgb(10,10,10), rgb(10,10,30));
    padding: 0;
    z-index: 0;

}

.row{
    display: flex;
    margin: 0;
    padding: 0;
}
.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-family: "Jaro", sans-serif;
    aspect-ratio: 1/1;
    background: rgb(19, 20, 85);
    z-index: 1;
    border: 2px solid rgb(26, 20, 110);
    width: 100px;
    border-radius: 2cqb;
}
.letter:empty{
    background: rgba(36, 33, 33, 0);
    
}

.input-space{
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 0;
    
}

.input-space > input{
    background: rgb(6, 1, 34);
    border: 2px solid rgb(57, 12, 94);
    border-radius: 4cqb;
    height: 75px;
    width: 400px;
    text-align: center;
    color: white;
    font-family: "Dancing Script";
    font-size: 2rem;
    margin-top: 5px;
}



